.progress-container{
    display: flex;
    justify-content: space-between;
}

.progress{
    width: 9%;
    height: 16px;
    border: 1px solid #00667d ;
    border-radius: 10px;
    background-color:white ;
}

