h3{
    color: #71717a;
    font-size: 1.5em;
}

.title-container{
    width: 100%;
}

.p-gray{
    color: #71717a;
    font-size: 1.1em;
    font-weight: 400;
}

.link-Pform-container{
    color:#00667d
}

.pensionSearcher-container{
    width: 60%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 620px){
    .pensionSearcher-container{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}