.principla-form--container{
    width: 60%;
    height: auto;
    margin: 0 auto;
}

h2{
    color: #bd0033;
    font-size: 2em;
    font-weight: bold;
    margin-top: 30px;
}

@media (max-width: 620px){
    .principla-form--container{
        width: 100%;
    }
}

